In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import math

%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 15, 6

from numpy.random import randn
np.random.seed(123)
import os
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4)
pd.options.display.max_rows = 10
#pd.options.display.max_rows = 20

In [20]:
#Pull in file containing humidity data and resample
humidity = ['datetime', 'Montreal']
humidity_data = pd.read_table('Humidity - Montreal.csv', sep=None, header=None, names=humidity, skiprows=1, engine='python')
humidity_data['datetime'] = pd.to_datetime(humidity_data['datetime'], yearfirst=True)
humidity_data=humidity_data.set_index(['datetime'])
humidity_data = humidity_data.resample('1min').pad()
humidity_data

                     Montreal
datetime
2017-01-01 00:00:00        85
2017-01-01 00:01:00        85
2017-01-01 00:02:00        85
2017-01-01 00:03:00        85
2017-01-01 00:04:00        85
...                       ...
2017-11-29 23:56:00        58
2017-11-29 23:57:00        58
2017-11-29 23:58:00        58
2017-11-29 23:59:00        58
2017-11-30 00:00:00        58

[479521 rows x 1 columns]

In [21]:
#Pull in file containing temperature data and resample
temperature = ['datetime', 'Montreal']
temperature_data = pd.read_table('Temperature - Montreal.csv', sep=None, header=None, names=humidity, skiprows=1, engine='python')
temperature_data['datetime'] = pd.to_datetime(temperature_data['datetime'], yearfirst=True)
temperature_data=temperature_data.set_index(['datetime'])
temperature_data=temperature_data.resample('1min').pad()
temperature_data

                     Montreal
datetime
2017-01-01 00:00:00    -10.74
2017-01-01 00:01:00    -10.74
2017-01-01 00:02:00    -10.74
2017-01-01 00:03:00    -10.74
2017-01-01 00:04:00    -10.74
...                       ...
2017-11-29 23:56:00     -0.67
2017-11-29 23:57:00     -0.67
2017-11-29 23:58:00     -0.67
2017-11-29 23:59:00     -0.67
2017-11-30 00:00:00     -1.35

[479521 rows x 1 columns]